%hover-animation {
  transition-duration: 200ms;
  transition-property: background-color, color, border-color, opacity;
  transition-timing-function: ease-in-out;
}

%csale-animation {
  transition-duration: 200ms;
  transition-property: transform;
  transition-timing-function: ease-in-out;
}
