@include block(banner) {
  @apply w-screen;
  @apply absolute bottom-0 left-0;
  @apply bg-lightGray;

  @include element(container) {
    @apply max-w-7xl sm:max-w-full h-full w-full;
    @apply px-10 sm:px-0;
    @apply mx-auto;

    @apply grid grid-cols-4 sm:grid-cols-2;
    @apply mx-auto;
  }
}

@include block(item) {
  @apply py-3 sm:py-2 pl-5 pr-20;
  @apply justify-center flex flex-col;
  border-left: 1px solid black;
  height: inherit;

  @media screen and (max-width: 767px) {
    border-bottom: 1px solid black;
  }

  @include element(header) {
    @apply text-2xl sm:text-xl font-extrabold;
  }
  @include element(subheader) {
    @apply text-sm font-normal sm:text-xs;
  }
}
