@include block(banner) {
  @apply w-screen  left-0  absolute bottom-0  flex  flex-wrap font-montserrat;
}

@include block(item) {
  border-left: 1px solid black;
  border-top: 1px solid black;

  height: inherit;
  @apply bg-lightGray py-3 sm:py-2 pl-5 pr-20   flex flex-col justify-center w-1/4 sm:w-1/2;

  @include element(header) {
    @apply text-2xl sm:text-xl font-bold;
  }
  @include element(subheader) {
    @apply text-sm sm:text-xs;
  }
}
