@include block(button) {
  display: inline-block;
  text-align: center;
  border-radius: 12px;
  min-height: 55px;
  font-size: 18px;
  width: 100%;

  &:disabled {
    cursor: not-allowed;
  }

  &--primary {
    background: linear-gradient(93.58deg, #3ad889 -105.35%, #f3fc1f 103.54%);
    color: black;
    &:hover {
      background: linear-gradient(95.27deg, #3ad889 -24.83%, #f3fc1f 131.84%);
    }
  }

  &--secondary {
    background: linear-gradient(93.58deg, #ff0000 -105.35%, #f3fc1f 103.54%);
    color: black;
  }

  &--network-add {
    height: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    width: auto;
    background: transparent;
    color: white;
    padding: 7px 14px;
    border-radius: 5px;
    border: solid white 1.5px;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 10px;
  }

  &--error {
    background: linear-gradient(93.58deg, #ff0000 -105.35%, #f3fc1f 103.54%);
    color: black;
  }

  &--small {
    height: 28px;
    min-height: 28px;
    width: 80px;
    color: white;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 1.75px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(110deg, #3ad889 -43%, #f3fc1fc9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #071927 inset;
    &:hover {
      background: #3ad889;
      cursor: pointer;
    }
  }
}
