%button {
  width: 215px;
  height: 45px;
  @apply flex z-10 text-sm sm:text-base sm:w-36 font-montserrat tracking-wider justify-center items-center  rounded-lg sm:rounded-2xl;

  background-color: theme("colors.green");
}

@include block(button) {
  @extend %button;
}

@include block(button--inverted) {
  @extend %button;
  color: white;
  border: 1px solid white;
  background-color: theme("colors.black");
  @apply font-normal;
}

@include block(button--white) {
  @extend %button;
  color: theme("colors.black");
  border: 1px solid white;
  background-color: white;
  @apply font-semibold;
}

@include block(button--logo) {
  @extend %button;
  color: theme("colors.black");
  border: 1px solid white;
  background-color: white;
  @apply font-bold items-center gap-3 sm:w-200;
}
