%button {
  width: 215px;
  height: 45px;
  @apply flex z-10 text-sm sm:text-base sm:w-36 font-montserrat font-bold tracking-wider justify-center items-center  rounded-lg sm:rounded-2xl;
  @extend %hover-animation;

  color: theme("colors.black");

  background-color: theme("colors.green");
  &:hover {
    background-color: theme("colors.greenHover");
  }
}

@include block(button) {
  @extend %button;
}

@include block(button--inverted) {
  @extend %button;
  color: white;
  border: 1px solid white;
  background-color: theme("colors.black");
  @apply font-bold;
  &:hover {
    background-color: theme("colors.blackHover");
    border: 1px solid theme("colors.blackHover");
    color: theme("colors.black");
  }
}

@include block(button--white) {
  @extend %button;
  color: theme("colors.black");
  border: 1px solid white;
  background-color: white;
  @apply font-semibold;
  &:hover {
    background-color: theme("colors.blackHover");
    border: 1px solid theme("colors.blackHover");
    color: theme("colors.black");
  }
}

@include block(button--logo) {
  @extend %button;
  color: theme("colors.black");
  border: 1px solid white;
  background-color: white;
  @apply font-bold items-center gap-3 sm:w-200;
  &:hover {
    background-color: theme("colors.blackHover");
    border: 1px solid theme("colors.blackHover");
    color: theme("colors.black");
  }
}
