@include block(card) {
  color: white;

  @apply rounded-lg flex flex-col justify-center p-10 w-full h-full;

  // background-color: #2e2e2e;
  background-color: theme("colors.darkGray");
  cursor: pointer;
  @extend %no-select;
  &:hover {
    opacity: 0.7;
  }
  @include element(name) {
    @apply font-montserrat font-semibold mx-auto text-lg;
  }
  @include element(logo) {
    max-width: 100px;
    margin: 0 auto;
  }
}

@include block(list) {
  @apply flex gap-6  mx-auto flex-wrap;
  @apply grid grid-cols-6  auto-rows-auto gap-x-2 gap-y-2 sm:grid-cols-2 lg:grid-cols-3;
}
