@import "modal";
@import "button";
@import "numerical_input";
@import "select";
@import "section_2";
@import "section_3";
@import "inverstors";
@import "faqs";
@import "footer";
@import "swap";
@import "timeline";
@import "header";

@include block(site-wrapper) {
  position: relative;
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

@include block(homepage) {
  height: 100%;
  position: relative;

  @include element(container) {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;

    @include breakpoint(medium down) {
      background-image: url("images/mobile-bg.jpg");
    }

    @include block(footer) {
      padding: 2em;
      @include xy-grid();
      @include flex-align(right, middle);

      position: absolute;
      bottom: 0;
      right: 0;
      @include breakpoint(medium down) {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: max-content;
      }

      > a {
        img {
          margin: 0.2em;
          width: 37px;
          height: 37px;
        }
      }
    }
  }

  @include block(stars) {
    position: absolute;
    width: 100%;
    top: 0px;

    @include breakpoint(medium down) {
      display: none;
    }
  }

  @include block(lighting) {
    position: absolute;
    width: 100%;
    z-index: 100;
    @include breakpoint(medium down) {
      display: none;
    }
  }

  @include block(smoke) {
    position: absolute;
    width: 100%;
    @include breakpoint(medium down) {
      display: none;
    }
  }

  @include element(main) {
    height: 60%;
  }

  @include block(headline) {
    font-family: "Newake";
    @include xy-grid(vertical);
    @include flex-align(center, middle);
    @include element(title) {
      font-style: normal;
      font-weight: normal;
      font-size: 6.25rem;
      line-height: 93px;
      text-align: center;
      background-image: linear-gradient(to right, #00ff80, #f3fc1f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include breakpoint(xlarge down) {
        font-size: 5em;
      }

      @include breakpoint(medium down) {
        font-size: 1.875em;
      }
    }

    @include element(text) {
      background-image: linear-gradient(to right, #00ff80, #f3fc1f);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.25em;
      font-style: normal;

      @include breakpoint(small down) {
        font-size: 1.25em;
      }
    }
  }

  @include block(section) {
    @include block(headline) {
      font-size: 3rem;
    }

    @include block(subheadline) {
      font-size: 1.5rem;
    }
  }
}

@include block(iframe) {
  width: 600px;
  height: 550px;

  @include breakpoint(small down) {
    width: 95%;
  }
  > iframe {
    width: 100%;
    height: 100%;
  }
}
