@include block(homepage) {
  height: 100%;
  position: relative;

  @include element(container) {
    background-image: url("images/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    @include block(logo) {
      padding: 2em;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      @include xy-grid();
      @include flex-align(justify, middle);

      @include block(fusefi) {
        @include xy-grid(horizontal, false);
        @include flex-align(center, middle);

        > div {
          width: 90px;
        }

        > img {
          max-width: 130px;
        }
      }

      @include block(enter_app) {
        @include xy-grid();
        z-index: 100;
        @include flex-align(center, middle);
        > span {
          font-style: normal;
          font-weight: 500;
          font-size: 1em;
          line-height: 22px;
          color: #ffffff;
        }
        > img {
          margin-left: 0.5em;
        }
      }
    }
    @include block(footer) {
      padding: 2em;
      @include xy-grid();
      @include flex-align(right, middle);
      position: absolute;
      bottom: 0;
      right: 0;

      > a {
        img {
          margin: 0.2em;
          width: 37px;
          height: 37px;
        }
      }
    }
  }

  @include block(stars) {
    position: absolute;
    width: 100%;
    top: 0px;
  }

  @include block(lighting) {
    position: absolute;
    width: 100%;
    z-index: 100;
  }

  @include block(smoke) {
    position: absolute;
    width: 100%;
  }

  @include element(main) {
    height: 90%;
  }

  @include block(headline) {
    font-family: "Newake";
    @include xy-grid(vertical);
    @include flex-align(center, middle);
    @include element(title) {
      font-style: normal;
      font-weight: normal;
      font-size: 7.5em;
      font-size: 120px;
      line-height: 116px;
      text-align: center;
      background-image: linear-gradient(to right, #00ff80, #f3fc1f);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @include element(text) {
      background-image: linear-gradient(to right, #00ff80, #f3fc1f);
      background-clip: text;
      color: transparent;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 2.25em;
      font-style: normal;
      line-height: 35px;
    }
  }

  @include block(form) {
    width: 465px;
    height: 60px;
    background: #ffffff;
    border-radius: 10px;
    padding: 5px;
    position: relative;

    @include element(input) {
      width: 100%;
      height: 100%;
      border: none;
      background-color: transparent;
    }

    @include element(button) {
      position: absolute;
      right: 5px;
      width: 187px;
      height: 50px;
      font-weight: 500;
      line-height: 25px;
      font-style: normal;
      background: linear-gradient(95.27deg, #3ad889 -24.83%, #f3fc1f 131.84%);
      border-radius: 10px;
    }
  }
}

.site-wrapper {
  position: relative;
  display: block;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

@include block(main_button) {
  padding: 1.125em 1.75em;
  font-size: 1em;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.01px;
  text-align: center;
  color: #052235;
  margin: 1em 0;
  border-radius: 100px;
  background-image: linear-gradient(124.98deg, #b3ffbb 6.71%, #fffb00 90%);

  &::after {
    background-image: url(images/arrow.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 0.5em;
    width: 20px;
    height: 14px;
    display: inline-block;
    padding-left: 8px;
    vertical-align: -20%;
    content: "";
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }

  &:hover {
    background-image: unset;
    background-color: #f8ff00;

    &::after {
      -webkit-transform: translateX(4px);
      -moz-transform: translateX(4px);
      -ms-transform: translateX(4px);
      -o-transform: translateX(4px);
      transform: translateX(4px);
    }
  }
}
