@include block(download) {
  height: 54px;
  width: 170px;
  color: white;
  border: 1px solid white;
  @apply flex rounded-lg justify-center  lg:gap-x-2 items-center gap-x-3;

  background-color: theme("colors.black");
  @include element(logo) {
    @apply w-6;
    margin-bottom: 4px;
  }

  @include element(header) {
    @apply text-xs lg:text-xs font-normal;
    line-height: 0.8em;
  }
  @include element(subheader) {
    @apply text-lg  font-normal;
  }
}
