@include block(footer) {
  @include element(logo) {
    width: 150px;
  }
  @include element(contact) {
    @apply ml-auto sm:mr-auto sm:ml-0 md:mr-auto  md:ml-0;
  }
  @include element(container) {
    @apply grid grid-cols-2 md:grid-cols-1 sm:grid-cols-1 content-between my-6 md:my-0 sm:my-0;
  }
}

@include block(links) {
  color: white;
  //
  @apply grid grid-cols-3 md:grid-cols-2 sm:grid-cols-2 sm:gap-y-3 md:gap-y-3 md:my-10 sm:my-10;

  @include element(item) {
    @apply hover:text-green cursor-pointer;
    @extend %hover-animation;
  }
  @include element(icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      width: 12px;
      margin-right: 6px;
    }
  }
}

@include block(signup) {
  width: 460px;
  height: 51px;

  @apply flex    justify-between text-base  rounded-lg sm:w-full;
  background-color: theme("colors.darkGray");
  @include element(input) {
    @apply pl-6;
    color: white;
    &::placeholder {
      @apply font-montserrat text-base;

      /* Chrome, Firefox, Opera, Safari 10.1+ */

      color: white;
      opacity: 1; /* Firefox */
    }
  }
  @include element(button) {
    color: white;
    @extend %hover-animation;
    @apply flex justify-between  items-center font-bold m-1 font-montserrat  text-sm px-8  rounded-lg;
    background-color: theme("colors.green");

    &:hover {
      background-color: theme("colors.greenHover");
    }
  }
}

@include block(socials) {
  @apply flex gap-x-2 mt-5 ml-auto md:mr-auto md:ml-0 sm:mr-auto sm:ml-0 w-fit;
  @extend %hover-animation;
  cursor: pointer;

  @include element(logo) {
    &:hover {
      opacity: 0.7;
    }
    width: 40px;
    height: 40px;
  }
}
