@include block(footer) {
  height: 520px;

  @include element(logo) {
    width: 150px;
  }

  @include element(container) {
    @apply flex flex-row  flex-wrap gap-8  justify-between;
  }
}

@include block(links) {
  color: white;
  height: 228px;
  width: 600px;
  @apply font-montserrat pt-24 flex flex-col gap-3  flex-wrap;
  @include element(item) {
    @apply hover:text-link cursor-pointer;
  }
}

@include block(signup) {
  width: 444px;
  height: 51px;
  @apply flex  mt-auto  justify-between bg-lightGray rounded-lg;
  @include element(input) {
    @apply pl-6;
    color: white;
    &::placeholder {
      @apply font-montserrat;
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: white;
      opacity: 1; /* Firefox */
    }
  }
  @include element(button) {
    color: white;
    @apply flex justify-between items-center font-bold m-1 font-montserrat  text-sm px-8 bg-green  rounded-lg;
  }
}
