@include block(navbar) {
  @apply h-20 w-full items-center flex py-10;
  @extend %no-select;

  @include element(container) {
    cursor: pointer;
    z-index: 9999999;
  }
  @include element(logo) {
    width: 145px;
    height: auto;
  }

  @include element(menu) {
    @apply grid grid-cols-6 w-500 ml-20;

    color: white;
    cursor: pointer;
    z-index: 9999999;

    @include element(item) {
      @apply font-montserrat text-sm;

      @extend %hover-animation;
      &:hover {
        color: theme("colors.green");
      }
    }
  }
  @include element(button) {
    margin-left: auto;
    @extend %button;
    height: 34px;
    width: 180px;
    @apply font-medium flex text-xs sm:w-150;
  }
}
