.react-select {
  &__control {
    background-color: #071927 !important;
    border-color: transparent !important;
    min-height: 55px !important;
    border-radius: 12px !important;
    cursor: pointer !important;
    margin-bottom: 1.5rem !important;

    &--is-focused {
      border-color: transparent !important;
      box-shadow: none !important;
    }

    &:hover {
      border-color: transparent !important;
      box-shadow: none !important;
    }
  }

  &__menu {
    background-color: #071927 !important;
  }

  &__option {
    font-size: 18px !important;
    background-color: #071927 !important;
    cursor: pointer !important;

    &:hover {
      background: linear-gradient(
        93.58deg,
        #3ad889 -105.35%,
        #f3fc1f 103.54%
      ) !important;
      color: black !important;
    }
  }

  &__single-value,
  &__placeholder {
    font-size: 18px !important;
    color: #8da9bb !important;
  }
}
