@include block(communities) {
  position: relative;
  padding: 3em 0;
  min-height: 737px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    position: absolute;
    clip-path: polygon(
      100% 0,
      100% 100%,
      0 100%,
      0 30%,
      49% 10%,
      50% 20%,
      100% 0
    );
    background-color: #101118;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  @include element(content) {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  @include element(title) {
    @extend %main-title;
    font-weight: 700;
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 2.5rem;
    letter-spacing: 2px;

    @include breakpoint(large down) {
      font-size: 2.5rem;
    }
    @include breakpoint(medium down) {
      font-size: 2rem;
    }
  }
  @include element(talk) {
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: white;
    @include breakpoint(large down) {
      font-size: 20px;
    }
    @include breakpoint(medium down) {
      font-size: 16px;
    }
  }
  @include element(container) {
    display: flex;
    gap: 26px;
    margin-top: 58px;
    @include breakpoint(large down) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @include element(boxInner) {
    background: #202232;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 33px 43px 24px;
    @include breakpoint(large down) {
      padding: 20px 42px;
    }
  }
  @include block(inner) {
    display: flex;
    align-items: center;
  }
  @include element(spanInner) {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    color: #ffffff;
  }
  @include element(check) {
    color: #b5b9d3;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-right: -21px;
  }
}
