@include block(inverstors) {
  position: relative;
  padding: 8em 0px 6em;
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);

  @include breakpoint(small down) {
    padding: 4em 1em;
  }

  @include block(title) {
    @extend %title;
  }

  @include block(subtitle) {
    @extend %subtitle;
    margin-bottom: 3em;
  }

  @include block(images) {
    @include breakpoint(large up) {
      @include xy-grid-container();
      width: 100%;
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      grid-template-columns: repeat(4, auto);
      grid-gap: 6em;
    }
    @include breakpoint(large down) {
      width: 50%;
    }
    @include breakpoint(small down) {
      width: 100%;
    }
    @include block(image) {
      @include xy-grid();
      @include flex-align(center, middle);
    }
  }
}

@include block(backers) {
  position: relative;
  padding: 8em 0px 10em;
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);

  @include breakpoint(small down) {
    padding: 4em 1em 6em;
  }

  @include block(title) {
    @extend %title;
    margin-bottom: 1em;
  }

  @include block(subtitle) {
    @extend %subtitle;
    margin-bottom: 3em;
  }

  @include block(images) {
    @include xy-grid-container();
    @include breakpoint(large up) {
      width: 100%;
      display: grid;
      grid-auto-flow: row;
      justify-content: center;
      grid-template-columns: repeat(5, auto);
      grid-gap: 6em;
    }
    @include breakpoint(large down) {
      width: 50%;
    }
    @include breakpoint(small down) {
      width: 100%;
    }
    @include block(image) {
      @include xy-grid();
      @include flex-align(center, middle);
    }
  }
}
