@include block(section_2) {
  position: relative;
  padding: 8em 0px 10em;
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);

  @include breakpoint(small down) {
    padding: 4em 1em 6em;
  }

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25) 13.99%,
    rgba(58, 216, 137, 0.25) 70.07%,
    rgba(243, 252, 31, 0.25) 134.56%
  );

  @include block(title) {
    @extend %title;
  }

  @include block(image) {
    margin: 1em 0px;
  }

  @include block(subtitle) {
    @extend %subtitle;
  }

  @include block(stores) {
    @include xy-grid();
    @include flex-align(center, middle);

    > a {
      @include xy-cell(50%);
    }
  }
}
