@include block(section-A) {
  background-image: url('images/section3-bg.png');
  background-position: center;
  min-height: 861px;
  padding-top: 4em;
  @include breakpoint(medium up) {
    min-height: 500px;
  }
  @include breakpoint(medium down) {
    min-height: 500px;
  }
  @include element(container) {
    @include xy-grid(horizontal, false);
    @include flex-align(justify, middle);
  }

  @include element(wrapper) {
    padding: 1em 0;
    @include xy-grid-container();
    @include breakpoint(large down) {
      @include xy-grid-container(90%);
    }
  }

  @include block(main_title) {
    margin-top: 6rem;
    font-size: 6.5rem;
    line-height: 1.2;
    margin-bottom: 1.875rem;
    font-weight: 700;
    text-align: center;
    color: white;
    @include breakpoint(large down) {
      font-size: 5.1rem;
    }
    @include breakpoint(medium down) {
      max-width: 767px;
      font-size: 3rem;
    }

    @include breakpoint(small down) {
      margin-bottom: 1em;
      font-size: 2em;
    }
  }

  @include element(main) {
    @include breakpoint(medium up) {
      @include xy-cell(100%, null, 0);
      @include xy-grid(vertical, false);
      @include flex-align(center, middle);
    }

    @include breakpoint(medium down) {
      @include xy-cell(24, null, 0);
    }
  }

  @include element(text-container) {
    @include xy-grid(vertical, false);
    @include flex-align(center, middle);
    text-align: center;
    max-width: 750px;
  }

  @include element(text) {
    font-size: 1.5em;
    line-height: 1.2083;
    color: white;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    span {
      font-weight: 700;
    }
    @include breakpoint(large down) {
      font-size: 1em;
    }
    @include breakpoint(large) {
      font-size: 1.5em;
    }
    @include breakpoint(small only) {
      font-size: 1em;
    }
  }
  @include element(buttons) {
    gap: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 81px;
  }
  @include element(primaryButton) {
    border-radius: 12px;
    border: 2px solid #b5b9d3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    color: #b5b9d3;
    width: 178px;
    height: 48px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    background-color: transparent;
  }
  @include element(buttonSoon) {
    color: white;
  }
  @include element(secondaryButton) {
    background: linear-gradient(90.09deg, #c9f6ba 0.09%, #f1fa9e 99.94%);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 178px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #041926;
  }
}
