@include block(section_7) {
  position: relative;
  max-height: 737px;
  color: white;
  padding: 4em 0px 8em;

  @include element(container) {
    @include xy-grid-container();
    @include xy-grid(vertical, false);
    @include flex-align(center, middle);
  }
  @include element(title) {
    font-weight: 700;
    max-width: 804px;
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 3.875rem;
    @include breakpoint(large down) {
      font-size: 2.5rem;
    }
    @include breakpoint(medium down) {
      font-size: 2rem;
    }
  }
  @include element(content_container) {
    @include xy-grid(horizontal, false);
    @include flex-align(center, middle);
    width: 100%;
  }
  @include element(input) {
    max-width: 455px;
    width: 100%;
    padding: 1rem 2rem;
    background: #242637;
    border-radius: 12px;
    border: none;
    color: white;
    &::placeholder {
      color: #b5b9d3;
      opacity: 0.5;
    }
  }
  @include element(button) {
    background: linear-gradient(90deg, #c4f6be 0%, #f6fa9b 100%);
    border-radius: 12px;
    color: black;
    padding: 1rem 3.25rem;
    margin-left: -1.5rem;
  }
}
