@include block(swap) {
  position: relative;
  padding: 8em 0px 20em;
  @include xy-grid(vertical, false);
  @include flex-align(center, middle);

  @include breakpoint(small down) {
    padding: 8em 1em;
  }

  @include element(wrapper) {
    width: fit-content;
    max-width: 779px;
    border-radius: 8px;
    margin: auto;
    box-shadow: 4px 4px 100px 16px rgba(194, 246, 191, 0.2);
    position: relative;

    @include breakpoint(xlarge up) {
      width: 100%;
    }
    @include breakpoint(medium down) {
      width: 90%;
    }

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2px;
      border-radius: 8px;
      background: linear-gradient(93.58deg, #3ad889 -105.35%, #f3fc1f 103.54%);
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }
  }

  @include block(title) {
    @extend %title;
    margin-bottom: 0.5em;
    @include breakpoint(small down) {
      padding: 0px 0.6em;
    }
  }

  @include block(subtitle) {
    @extend %subtitle;
  }

  @include block(stores) {
    @include xy-grid();
    @include flex-align(center, middle);

    > a {
      @include xy-cell(50%);
    }
  }

  @include block(card) {
    color: white;
    width: 100%;
    padding: 2em 2em 0px;

    @include element(balance) {
      margin-bottom: 5px;
      margin-right: 5px;
      text-align: right;
    }

    @include element(price) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1em;
    }

    @include element(arrow-icon) {
      text-align: center;
    }

    @include block(info) {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      padding: 20px 2px;
      > span {
        cursor: pointer;
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 130%;
        color: #3ad889;
      }
      > img {
        margin-left: 5px;
      }
    }
  }

  @include block(switch_to_fuse) {
    padding: 5em;
    @include breakpoint(small down) {
      padding: 2em;
    }
    @include block(content) {
      margin-bottom: 4em;
      @include xy-grid(vertical, false);
      @include flex-align(center, middle);

      @include block(logo) {
        margin-bottom: 2em;
        img {
          width: 105px;

          @include breakpoint(small down) {
            width: 100px;
          }
        }
      }

      @include block(texts) {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        @include breakpoint(small down) {
          font-size: 20px;
        }

        letter-spacing: 0.055em;
        color: #ffffff;
      }
    }

    @include block(actions) {
      @include xy-grid();
      @include flex-align(center, middle);
      > a {
        text-align: center;
        margin-top: 2em;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }
  }

  @include block(emptystate) {
    padding: 2em;
    @include block(content) {
      margin-bottom: 4em;
      @include xy-grid(horizontal, false);

      @include breakpoint(small down) {
        @include xy-grid(vertical);
        @include flex-align(center, middle);
      }

      @include block(logo) {
        @include breakpoint(medium up) {
          @include xy-cell(20%);
        }
        img {
          width: 180px;

          @include breakpoint(small down) {
            width: 300px;
          }
        }
      }

      @include block(texts) {
        @include xy-grid();
        @include breakpoint(medium up) {
          @include xy-cell(80%);
        }
        > div {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 40px;
          letter-spacing: 0.055em;
          color: #ffffff;
        }
      }
    }

    @include block(actions) {
      @include xy-grid();
      @include flex-align(center, middle);
      > a {
        text-align: center;
        margin-top: 2em;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }
  }

  @include block(soldout) {
    padding: 3em;
    @include breakpoint(small down) {
      padding: 2em;
    }
    @include block(content) {
      @include xy-grid(vertical, false);
      @include flex-align(center, middle);

      @include block(logo) {
        margin-bottom: .5em;
        img {
          width: 160px;

          @include breakpoint(small down) {
            width: 100px;
          }
        }
      }

      @include block(round) {
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.055em;
        color: #ffffff;
        margin-bottom: .5em;
        @include breakpoint(small down) {
          font-size: 20px;
        }
      }

      @include block(sold) {
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        text-align: center;
        letter-spacing: 0.055em;
        color: #ffffff;
        margin-bottom: .5em;
        @include breakpoint(small down) {
          font-size: 40px;
        }
      }

      @include block(tnx) {
        font-family: SF Pro Display;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.055em;
        color: #ffffff;
        @include breakpoint(small down) {
          font-size: 20px;
        }
      }
    }

    @include block(actions) {
      @include xy-grid();
      @include flex-align(center, middle);
      > a {
        text-align: center;
        margin-top: 2em;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }
  }
}

@include block(swap_info_modal) {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 2px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
    linear-gradient(110deg, #3ad889 -43%, #f3fc1fc9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #0b0c13 inset;

  @include element(container) {
    display: flex;
    flex-direction: column;
    max-width: 850px;
  }

  @include element(title) {
    text-align: center;
    font-size: 18px;
    padding-bottom: 8px;
    font-weight: 600;
  }

  @include element(subtitle) {
    text-align: center;
    font-size: 18px;
    padding-bottom: 15px;
  }

  @include element(info_img) {
    margin: auto;
    margin: 1em 0px 2em;
    width: 685px;
  }

  @include element(actions) {
    @include xy-grid();
    @include flex-align(justify, middle);
    @include block(link) {
      @include xy-cell(65%);
      @include xy-grid();
      @include flex-align(center, middle);
      @include breakpoint(small down) {
        @include xy-cell();
      }

      height: 54px;
      background: linear-gradient(273.62deg, rgba(243, 252, 31, 0.5) 9.22%, rgba(58, 216, 137, 0.5) 100%);
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px;
      text-align: center;
      &:hover {
        text-decoration: underline;
        color: #ffffff;
      }

      > img {
        margin-right: 8px;
      }
    }
    @include block(docs) {
      @include xy-cell(35%);
      @include xy-grid();
      @include flex-align(center, middle);
      @include breakpoint(small down) {
        margin-top: 1em;
        @include xy-cell();
      }
      height: 54px;
      border: 1.5px solid #ffffff;
      box-sizing: border-box;
      border-radius: 5px;
      text-align: center;
      &:hover {
        text-decoration: underline;
        color: #ffffff;
      }

      > img {
        margin-right: 8px;
      }
    }
  }
}

@include block(successful_purchase_modal) {
  @include element(icon) {
    text-align: center;
    margin-bottom: 2rem;
  }

  @include element(body) {
    position: absolute;
    border-radius: 10px;
    color: white;
    border: solid 1.75px transparent;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)),
      linear-gradient(110deg, #3ad889 -43%, #f3fc1fc9 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0b0c13 inset;
    padding: 2rem;
    font-size: 20px;
    line-height: 34px;
    word-wrap: break-word;

    & p {
      margin-bottom: 2rem;
    }
  }

  @include element(link) {
    text-decoration: underline;
  }
}
