%title {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 3em;
  line-height: 57px;
  text-align: center;
  color: white;

  @include breakpoint(medium down) {
    font-size: 2em;
  }

  @include breakpoint(small down) {
    font-size: 1.5em;
    line-height: 29px;
    text-align: start;
  }
}

%subtitle {
  margin-top: 30px;
  width: 100%;
  font-style: normal;
  color: white;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.055em;

  @include breakpoint(medium down) {
    font-size: 1.3em;
  }

  @include breakpoint(small down) {
    font-size: 18px;
    line-height: 30px;
    text-align: start;
  }
}
