@include block(section_4) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    clip-path: polygon(
      100% 0,
      100% 70%,
      50% 90%,
      49% 80%,
      0 100%,
      0 30%,
      49% 10%,
      50% 20%,
      100% 0
    );
    background-color: #101118;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  min-height: 1100px;
  color: white;
  padding: 17.8125em 0px 8em;

  @include element(container) {
    @include xy-grid-container();
    @include xy-grid(vertical, false);
    @include flex-align(center, middle);
  }
  @include element(title) {
    font-weight: 700;
    max-width: 804px;
    font-size: 3.125rem;
    text-align: center;
    margin-bottom: 3rem;
    @include breakpoint(large down) {
      font-size: 2.5rem;
    }
    @include breakpoint(medium down) {
      font-size: 2rem;
    }
  }
  @include element(cards) {
    @include xy-grid(horizontal, false);
    @include flex-align(center, stretch);
    min-height: 270px;
    width: 100%;
    gap: 0 1.75rem;
    @include breakpoint(large down) {
      flex-wrap: wrap;
      gap: 1.75rem 1.75rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  @include block(card) {
    flex: 1;
    border-radius: 12px;
    @include xy-grid(vertical, false);
    @include flex-align(center, middle);
    @include breakpoint(large down) {
      flex-wrap: wrap;
      width: 80%;
      padding: 20px 0;
    }
    @include element(count) {
      font-size: 2.5rem;
      font-weight: 700;
    }
    @include element(icon) {
      max-width: 106px;
    }
  }
}
