@include block(section_2) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    clip-path: polygon(
      100% 0,
      100% 70%,
      50% 90%,
      49% 80%,
      0 100%,
      0 30%,
      49% 10%,
      50% 20%,
      100% 0
    );
    background-color: #101118;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  min-height: 1051px;
  color: white;

  @include element(container) {
    @include xy-grid-container();
    @include xy-grid(horizontal, false);
    @include flex-align(spaced, middle);
    @include breakpoint(large down) {
      @include xy-grid-container(100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
  }
  @include element(content) {
    @include xy-grid(vertical, false);
    @include flex-align(center, middle);
    @include breakpoint(large down) {
      margin-bottom: 40px;
    }
  }
  padding: 10.125em 0px 8em;

  @include element(title) {
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 2.5rem;
    text-align: center;
  }
  @include element(text) {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    max-width: 526px;
    span {
      font-weight: 700;
    }
    margin-bottom: 1.5rem;
  }

  @include element(divider) {
    margin-top: 3rem;
    margin-bottom: 1.75rem;
  }

  @include breakpoint(medium down) {
    padding: 20px 20px 3em;
  }

  @include element(app_download) {
    display: flex;
    gap: 0 0.5rem;
  }

  @include element(mobile) {
    position: relative;
    &::before {
      content: '';
      left: -50%;
      right: 50%;
      top: 15%;
      bottom: 15%;
      position: absolute;
      background: rgba(90, 115, 131, 0.2);
      filter: blur(181.964px);
      border-radius: 56.4089px;
    }
  }
}
