@import "https://fonts.cdnfonts.com/css/sf-pro-display";
@import url("https://use.typekit.net/fri4duk.css");

@import "resets/resets";
@import "utils";
@import "tailwind";
@import "components/main";
@import "pages/main";

html,
body {
  width: 100%;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
